*.swp
.eunit/
bubba
confirm.html
confirm.js
main.erl
mainarea.html
mainarea.js
mfile.erl
mfile.hrl
mfile.routes
mfilecode.erl
mfilelib.erl
mfiledb.erl
mfile_test.erl
mfilelib_tests.erl
start.css
start.html
start.js
utest/test.erl
