[{boss, [
    {path, "/home/smithfarm/src/ChicagoBoss"},
    {applications, [cb_admin, mfile]},
    {db_host, "localhost"},
    {db_port, 5432},
    {db_adapter, pgsql},
    {db_database, "mfiledb"},
    {db_username, "smithfarm"}, 
    {db_password, "smithfarm"},
    {log_dir, "log"},
    {server, mochiweb},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{ lager, [
    {handlers, [
        {lager_console_backend, info},
        {lager_file, backend, [
            {"log/error.log", error, 10485760, "$D0", 5},
            {"log/console.log", info, 10485760, "$D0", 5}
        ]}
    ]}
]},
{ cb_admin, [
    {path, "../cb_admin"},
    {allow_ip_blocks, ["127.0.0.1"]},
    {base_url, "/admin"}
]},
{ mfile, [
    {path, "../mfile"},
    {base_url, "/"}
]}
].
