[{boss, [
    {path, "/home/smithfarm/src/ChicagoBoss"},
    {applications, [mfile]},
    {db_host, "localhost"},
    {db_port, 5432},
    {db_adapter, pgsql},
    {db_database, "mfiletestdb"},
    {db_username, "smithfarm"}, 
    {db_password, "smithfarm"},
    {log_dir, "log"},
    {server, mochiweb},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{ mfile, [
    {path, "../mfile"},
    {base_url, "/"}
]}
].
