{% block mfilemainarea %}

<script src="static/confirm.js"></script>

Preparing to update <div id="newcode" style="display:inline">{{ newcode }}</div>-<div id="newsern" style="display:inline">{{ newsern }}</div><br>
<br>
From existing keywords:   <i>{{ oldkeyw }}</i><br>
and existing description: <i>{{ olddesc }}</i><br>
<br>
to new keywords:     <div id="newkeyw" style="display:inline">{{ newkeyw }}</div><br>
and new description: <div id="newdesc" style="display:inline">{{ newdesc }}</div><br>
<br>
PLEASE PRESS INSERT KEY TO CONFIRM: 
<textarea id="confirm" name="confirm" rows=1 cols=1 maxlength=1 style="line-height: 1; height: 25px"></textarea>

{% endblock %}
