{% block mfilemainarea %}

<script src="static/confirm.js"></script>

Preparing to delete <div id="newcode" style="display:inline">{{ newcode }}</div>-<div id="newsern" style="display:inline">{{ newsern }}</div><br>
<br>
with keywords:   <i><div id="newkeyw" style="display:inline">{{ newkeyw }}</div></i><br>
and description: <i><div id="newdesc" style="display:inline">{{ newdesc }}</div></i><br>
<br>
PLEASE PRESS INSERT KEY TO CONFIRM: 
<textarea id="confirm" name="confirm" rows=1 cols=1 maxlength=1 style="line-height: 1; height: 25px"></textarea>

{% endblock %}
