<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>MFILE</title>
   <link rel="stylesheet" type="text/css" href="static/start.css" />
</head>

<body>
<title>MFILE -vernum-</title>
<script src="static/jquery.js"></script>
<script src="static/01init.js"></script>
<script src="static/02ajax.js"></script>
<script src="static/03auth.js"></script>
<script src="static/04menu.js"></script>
<script src="static/05code.js"></script>
<script src="static/06rest.js"></script>

<div class="abovebox" id="title">
<div class="subbox" style="font-size: 24px; width: 80px"><strong>MFILE</strong></div>
<div class="subbox" id="versionbox" style="width: 50px">{{ vernum }}</div>
<div class="subbox" style="width: 480px"></div>
<div class="subbox" id="userid"></div>
</div>

<div class="boxtop" id="header">
   <div class="subbox" id="topmesg" style="width: 640px"></div>
   <div class="subbox" id="codebox" style="width: 184px"></div>
</div>

<div class="mainarea" id="mainarea">
mainarea placeholder
</div>

<div class="single" id="bothelp">
</div>

<div class="boxbot" id="result">
</div>

<div class="dbstatus" id="dbstatus">
{{ dbstatus }}
</div>
</body>
</html>
